@import "variables";
@import "mixins";

#scroll-top-btn {
  @include flexCenter;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background-image: linear-gradient(to top, $secondary-color, $tertiary-color);
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;

  i {
    position: relative;
    color: white;
    font-weight: bolder;
    animation: fadein 1s reverse infinite;
  }

  &:hover {
    bottom: 30px;
    scale: 1.08;
  }
}

.hidden {
  opacity: 0;
}

@keyframes fadein {
  from {
    top: -1px;
    opacity: 0;
  }
  to {
    top: 1px;
    opacity: 0.5;
  }
}
