#snow-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.snowflake {
  position: absolute;
  top: -20px;
  width: 15px;
  height: 15px;
  background-image: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 0, 255, 0.3) 50%,
    rgba(0, 0, 255, 0) 100%
  );
  border-radius: 50%;
  animation: snowflakes 10s linear infinite;
  transform: translate3D(0, 0, 0);
}

@keyframes snowflakes {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(1000px);
  }
}
