@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
  font-family: "Rubik Glitch";
  src: url("../fonts/RubikGlitch-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend Light";
  src: url("../fonts/Lexend-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../fonts/SchibstedGrotesk-VariableFont.ttf") format("truetype");
}
