@font-face {
  font-family: "Rubik Glitch";
  src: url("../fonts/RubikGlitch-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend Light";
  src: url("../fonts/Lexend-Light.ttf") format("truetype");
}
