@import "navigator";
@import "header";
@import "sections";
@import "mixins";
@import "fonts";

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: wheat;
}
