@import "navigator";
@import "header";
@import "sections";
@import "mixins";
@import "fonts";
@import "button-up";

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 100px;
  height: 100%;
}
